.TreeButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.TreeButton button {
    width: 4vmin;
    margin: 0.5vmin;
    padding: 0.5vmin;
    color: var(--white);
    background-color: var(--olive);
    font-size: 3vmin;
    text-decoration: none;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.TreeButton button:hover {
    background-color: var(--darkgreen);
    color: white;
}

.TreeButton button:disabled {
    background-color: var(--grey);
    color: white;
    cursor: default;
}

.TreeButton p {
    margin: 0;
}

.tree-num {
    font-size: calc(16px + 0.5vmin);
    font-weight: 600;
}

.tree-btns {
    min-width: 10vmin;
}