.AuthPage {
    margin: 5vmin 0 0 0;
    justify-self: center;
}
  
p.error-message {
    color: var(--darkred);
    text-align: center;
}

.auth-forms {
    display: flex;
    justify-content: center;
}

.auth-toggle {
    padding: 3vmin;
}
  
.form-container {
    padding: 3vmin;
    background-color: var(--lightgrey);
    border: .3vmin solid var(--green);
}