.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    width: 20%;
    padding: 1vmin 1vmin;
    /* border: .3vmin solid var(--darkgreen); */
    color: var(--darkgreen);
}

.side-nav > h3 {
    font-size: 2.5vmin;
}

.username {
    color: var(--darkred);
    font-size: 3vmin;
}

.side-nav > a {
    color: var(--darkgrey);
    text-decoration: none;
    text-align: left;
    font-size: 2vmin;
}

.side-nav > a:hover {
    text-decoration: underline;
}