/* CSS Custom Properties */
:root {
  --white: rgb(255, 255, 255);
  --lightgrey: rgb(247, 247, 247);
  --grey: rgb(122, 122, 122);
  --darkgrey: rgb(68, 68, 68);
  --darkgreen: rgb(57, 98, 17);
  --green: rgb(78, 111, 35);
  --olive: rgb(159, 164, 56);
  --darkolive: rgb(127, 131, 45);
  --darkred: rgb(130, 40, 24);
  --brown: rgb(85, 48, 28);
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  /* height: 100%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}